@font-face {
  font-family: "JetBrainsMono-Medium";
  src: url("../public/JetBrainsMono-Medium.woff2");
}

/* Overall app config */
#root {
  font-family: "JetBrainsMono-Medium";
}

.divider {
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 1);
  margin: 20px 0;
}

.rbnav:hover {
  box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.2);
}

.main-panel {
  width: 95%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 15px 0
}

.main-panel:hover {
  box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.2);
}

.portrait-panel, .modifier-textarea {
  margin-bottom: 15px;
}

.portrait-panel:hover {
  box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.2);
}

.portrait-header {
  font-size: smaller;
}

.portrait-body, .snippet-header, .segment-body {
  font-size: x-small;
}

.snippet-code {
  font-size: small;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.post-title {
  font-size: large;
  font-weight: bold;
}

.post-timestamp {
  font-size: xx-small;
  color: rgba(0, 0, 0, 0.5);
}

.profile-id {
  font-size: x-small;
  color: rgba(0, 0, 0, 0.8);
}

.post-newrow {
  margin-top: 20px;
}

.float-post {
  position: fixed;
  top: 15%;
  right: 5%;
  width: 266px;
  height: 58px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
}

.float-submit {
  position: fixed;
  bottom: 10%;
  right: 5%;
  width: 105px;
  height: 58px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
}
.comment-row {
  width: 95%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-bottom: 15px;
}

.p404-panel {
  display: flex;
  align-items: center;
  margin-left: 2.5%;
  height: 50vh;
}
