@font-face {
  font-family: "JetBrainsMono-Medium";
  src: url("../public/JetBrainsMono-Medium.woff2");
}

/* Overall app config */
#root {
  font-family: "JetBrainsMono-Medium";
}

.rbnav:hover {
  box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.2);
}

.main-panel {
  width: 95%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 15px;
}

.main-panel:hover {
  box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.2);
}

.portrait-panel {
  margin-bottom: 15px;
}

.portrait-panel:hover {
  box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.2);
}

.portrait-header {
  font-size: smaller;
}

.portrait-body, .snippet-header, .segment-body {
  font-size: x-small;
}

.snippet-code {
  font-size: small;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.post-title {
  font-size: large;
  font-weight: bold;
}

.post-timestamp {
  font-size: xx-small;
  color: rgba(0, 0, 0, 0.5);
}
